<h2>Welcome Back Tester <%= @user.name%></h2>

<%#= list all the test cases that user created %>
<% if @user.test_cases %>
    <% @user.test_cases.each do |tc| %>
        <li>Test Case: <%= link_to "#{tc.title}", test_case_path(tc)%></li>
    <% end %>

<% end %>





<% if session[:user_id] %>
    
    <li><%= link_to "Create Test Case", new_test_case_path%></li>
    <li> <%= link_to "Sign out", user_path, :method => :delete %></li>
<% end %>

<br>
<div>
    User with most test cases list:
    <% @most.each do |u| %>
        <ul><%= u.name %></ul>
    <% end %>
    
</div>