<h2>Create new test step</h2>

<%= form_for @test_step do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.hidden_field :test_case_id, :value => @test_case_id %>
  <br>
  Test Step Note:
  <ul>
    <%= f.fields_for :test_case_test_steps do |ts_form| %>
      <li>
        <%= ts_form.label :note %>
        <%= ts_form.text_field :note %>
      </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>