<h2>Title: <%= @test_case.title%></h2>

<p class="steps">Test Steps:</p>
<ul class = 'sortable'>
   <% @steps.each do |step| %>
      <li id="<%= step.sortable_id %>"><%= step.test_step.description %> | Note:<%= step.note%></li>
    <% end %>
</ul>
      
<div class='next_tc'></div>
<button href="#" class="js-next" data-id="<%=@test_case.id%>">Next Test Case</button>
<br>
<br>

<%= form_for @test_step do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <input type="hidden" name="test_case_id" value="<%= @test_case.id %>">
  <br>
  Test Step Note:
  <ul>
    <%= f.fields_for :test_case_test_steps do |ts_form| %>
      <li>
        <%= ts_form.label :note %>
        <%= ts_form.text_field :note %>
      </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>


<form action = '/test_cases/<%=@test_case.id %>/test_steps/new', method = "get">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <input type="hidden" name="test_case_id" value="<%= @test_case.id %>">
      <input type='submit', value="Create New Test Step" />
</form>


<h3>Add test steps from available test steps</h3>


<%#= collection_select(:test_case, :test_step_id, @all_test_steps, :id, :test_step_description) %>
<ul>
   <% @all_test_steps.each do |ts| %>
      <form action = '/test_case_test_steps', method = "post">
          <li><%= ts.description %></li>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <input type="hidden" name="test_case_id" value="<%= @test_case.id %>">
          <input type="hidden" name="test_step_id" value="<%= ts.id %>">
          note: <input type="text", name = "note">
          <input type='submit', value="Add to Test Case" />
      </form>
   <% end %>
</ul>

<%= link_to 'User show page', user_path(@test_case.user) %>